---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not found">
    <div>
        <img
            src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723593600&semt=ais_hybrid"
            alt="404"
            class="mx-auto"
        />
    </div>
</Layout>
